@import url(__url-heading/place__url-heading.css);
@import url(__url/place__url.css);

.place__website {
    align-self: flex-end;
    margin: 0;
}
@media (max-width: 425px) {
    .place__website {
        display: none;
    }
}