/* Анимация для блока */
.photo-grid__item {
    transition: .5s linear;
}
.photo-grid__item:hover {
    transform: scale(1.1);
    border-radius: 70%;
}
@media (max-width: 1024px) {
    .photo-grid__item:hover {
        transform: scale(1.2);
        border-radius: 70%;
    }
}
@media (max-width: 768px) {
    .photo-grid__item {
        width: 352px;
        min-height: 234px;
    }
    .photo-grid__item:hover {
        transform: scale(1.1);
        border-radius: 60%;
    }
}
@media (max-width: 425px) {
    .photo-grid__item {
        width: 343px;
        min-height: 232px;
    }
    .photo-grid__item:hover {
        transform: scale(1.1);
        border-radius: 50%;
    }
}