/* стили заголовка */
.cover__title {
    width: 84%;
    margin-bottom: 100px;
}
@media (max-width: 1024px) {
    .cover__title {
        width: 50%;
        margin-bottom: 50px;
    }
}
@media (max-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 78px;
        width: 70%;
        margin-bottom: 35px;
    }
}
@media (max-width: 425px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 55%;
        margin-bottom: 0;
    }
}